<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="h8.chikey.nosmoke1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="No Smoke"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoSmoke1">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HabitMode"
            android:label="Habit Mode">
            <intent-filter>
                <action android:name=".HabitMode" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DeclineMode"
            android:label="Decline Mode">
            <intent-filter>
                <action android:name=".DeclineMode" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CastomSetings"
            android:label="Settings">
            <intent-filter>
                <action android:name=".CastomSetings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HandBook"
            android:label="Hand Book">
            <intent-filter>
                <action android:name=".HandBook" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressView"
            android:label="Progress">
            <intent-filter>
                <action android:name=".ProgressView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>